
/* SET DEFAULT PADDING AND MARGIN FOR ALL HTML ELEMENTS  */

* {margin:0;padding:0}

body{font-family:Arial,Times New Romans;Tahoma}

/* STYLES FOR TOP-SECTION ELEMENTS */

.top-section {width:100%;height:120px;margin:auto}
.b6logo{float:left;width:100px;padding-top:7px;padding-left:150px}
.locationicon{float:left;width:25px;padding-top:30px;padding-left:180px}
address{float:left;padding-top:27px;padding-left:8px}
.clockicon{float:left;width:25px;padding-top:30px;padding-left:180px}
h4{float:left;padding-top:27px;padding-left:8px;font-size:13px}


/* STYLES FOR MENU-SECTION ELEMENTS */

.menu-section {width:100%;height:77px;margin:auto;clear:both;padding-top:25px;background-color:darkblue}
.menu-section ul{position:relative}
.menu-section ul li{display:inline-block;list-style-type:none;float:left}
.menu-section ul li a{text-decoration:none;font-size:22px;text-align:center;padding-left:150px;color:white;cursor:pointer}
.menu-section ul li a:active{color:grey}
.menu-section ul li a:visited{color:red}
.menu-section ul li a:hover{color:yellow}

/* STYLES FOR MAIN-IMAGE */
#main-image{width:100%;height:120px;margin-bottom:100px}
#main-image img{width:100%;height:250px;}
#main-image p{text-align:center;font-size:50px;margin-top:-200px;color:yellow;font-weight:bolder;
}


/* STYLES FOR CONTACT US */

.ourproducts{width:370px;height:200px;border:1px solid red;margin-left:50px;top:100px;margin-bottom:110px;z-index:1;border-radius:10px;float:left;position:relative}



.ourproducts img{width:98px;padding-left:20px}


.ourproducts p{text-align:center;font-size:21px;color:maroon}

.conc{clear:both;margin-bottom:40px;padding-top:20px;text-align:center;font-size:25px}

/* FOOTER STYLE */

footer{width:100%;height:50px;margin:auto;background-color:rgba(0,0,22,0.9);clear:both}
footer,span{color:white;text-align:center;padding-top:30px;}
.imgfooter{width:35px;float:right;padding-right:90px;border-radius:60px;cursor:pointer}
.imgfooter:hover{color:yellow}















